* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Source code
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.css text

# Documentation
*.md text
*.txt text

# Fonts
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.webp binary
